<%= form_with model: @appointment, local: true, data: { turbo: false } do |form| %>
  <div class="my-3">
    <%= form.label :user_id, class: "font-medium text-gray-900" %>
    <%= form.select :user_id, User.pluck(:name, :id), prompt: "Select user...", required: true %>
    <div class="block">
      <%= render partial: "shared/error", locals: { errors: @appointment.errors[:user]} %>
    </div>
  </div>
  <div class="my-3">
    <%= form.label :client_id, class: "font-medium text-gray-900" %>
    <%= form.select :client_id, Client.pluck(:name, :id), prompt: "Select client...", required: true %>
    <div class="block">
    <%= render partial: "shared/error", locals: { errors: @appointment.errors[:client]} %>
    </div>
  </div>
  <div class="my-3">
    <%= form.label :location_id, class: "font-medium text-gray-900" %>
    <%= form.select :location_id, Location.pluck(:name, :id), prompt: "Select location...", required: true %>
    <div class="block">
      <%= render partial: "shared/error", locals: { errors: @appointment.errors[:location]} %>
    </div>
  </div>
  <div class="my-3">
    <%= form.label :scheduled_at, class: "font-medium text-gray-900" %>
    <%= form.datetime_field :scheduled_at, required: true, class: "px-3 py-1 rounded-md border border-gray-300" %>
    <div class="block">
    <%= render partial: "shared/error", locals: { errors: @appointment.errors[:scheduled_at]} %>
    </div>
  </div>
  <div class="my-3">
    <%= form.label :duration, class: "font-medium text-gray-900" %>
    <%= form.number_field :duration, class: "px-3 py-1 rounded-md border border-gray-300" %>
    <div class="block">
    <%= render partial: "shared/error", locals: { errors: @appointment.errors[:duration]} %>
    </div>
  </div>
  <div class="my-3">
    <%= form.label :notes, class: "font-medium text-gray-900" %>
    <%= form.text_area :notes, class: "px-3 py-1 rounded-md border border-gray-300" %>
    <div class="block">
    <%= render partial: "shared/error", locals: { errors: @appointment.errors[:notes]} %>
    </div>
  </div>
  <div>
    <%= form.submit class: "px-3 py-1 border border-gray-300 rounded-md hover:bg-gray-700 hover:text-white" %>
  </div>
<%end %>
